.image-title {
    position: relative;
    height: 18rem;
}

.title-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-image: url("../media/background.jpg");
    -moz-background-image: url("../media/background.jpg");
    -o-background-image: url("../media/background.jpg");
    -webkit-background-image: url("../media/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 60%;
}

.title-content {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    color: white;
}

.topology-diagram {
    width: 8.5rem;
}

.topology-diagram + .topology-diagram img {
    border-left: 1px solid #cccccc;
    border-radius: 0;
}

.topology-diagram + .topology-diagram img.legends {
    border: 1px solid #cccccc;
    padding: 0.5rem;
}

.topology-diagram .card-body {
    padding-top: 0;
}

.topology-diagram img {
    width: 100%;
    height: 8.5rem;
    padding: 0 0.5rem ;
}

.media video {
    width: 50%;
}

.media {
    margin: 1rem;
}

.ts {
    color:#007bff;
}

.ts:hover {
    cursor: pointer;
    text-decoration: underline;
}

.card-text {
    font-size: 2rem;
}